# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\arXivBot\arXivBot\arXivBot\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
